body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
}

h2 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Ubuntu";
  font-weight: 500;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Title  */

.download-button {
  margin: 5% 3% 5% 0;
}

.iphone {
  transform: rotate(25deg);
  width: 60%;
}

/* Features */

.features-icon {
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 3%;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

.features-p {
  color: #8f8f8f;
}

/* Testimonial Section */

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}