body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
}

.download-button {
  margin: 5% 3% 5% 0;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}
.navbar-brand {
  font-size: 2rem;
  font-family: "Ubuntu";
  font-weight: 500;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* End Navigation Bar  */

.iphone {
  transform: rotate(25deg);
  margin: 75px 0 75px 50px;
  width: 60%;
}
